.direnv/
__pycache__/
bin/
*.env

# fab gitignore
*.pyc
*.db
./tmp
./build/*
.idea
env
venv
*.sublime*

node_modules/

app/static/js/

.git/

shabu.sqlite
helm.yaml
kust-secrets.env
tags.env*
shabu.json
webpushkeys/*.pem
webpushkeys/*.b64
webpushkeys/claims.json
