layout pipenv

dotenv defaults.env
dotenv secrets.env
export DBNAME=taskinbox-db
export DB_HOST=$(docker inspect -f '{{.NetworkSettings.IPAddress}}' $DBNAME)
export DATABASE_URL=postgres://postgres:$POSTGRES_PASSWORD@$DB_HOST/postgres
export SQLALCHEMY_URL=postgresql+psycopg2://postgres:$POSTGRES_PASSWORD@$DB_HOST/postgres
PATH_add ./bin
