apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.service_name }}-api
  labels:
    app: {{ .Values.service_name }}-api
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.service_name }}-api
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: {{ .Values.service_name }}-api
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.full_tag }}"
          env:
          - name: PORT
            value: '8000'
          - name: FLASK_APP
            value: app.main
          envFrom:
          - secretRef:
              name: task-inbox
          ports:
          - name: http
            containerPort: 8000
            protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
